@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Toast animations */
@keyframes enter {
  from {
    opacity: 0;
    transform: translate3d(0, -200%, 0) scale(0.6);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
}

@keyframes leave {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -200%, 0) scale(0.6);
  }
}

.animate-enter {
  animation: enter 0.35s cubic-bezier(0.21, 1.02, 0.73, 1) forwards;
}

.animate-leave {
  animation: leave 0.4s forwards cubic-bezier(0.06, 0.71, 0.55, 1);
}
